.cardParent {
  width: 80%;
  margin: 20px auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cardParent > * {
  margin: 8px 0;
}

.tableCell {
  width: 50%;
}

.subTableCell {
  padding-left: 48px;
}

.cardParent .MuiTextField-root {
  margin-bottom: 10px;
  margin-right: 10px;
}

.cardParent .button {
  margin-bottom: 10px;
  margin-right: 10px;
}

.tableCell .MuiTextField-root {
  margin-bottom: 10px;
  margin-right: 10px;
  align-items: flex-start;
}

.cardParent .MuiButton-contained {
  margin-bottom: 10px;
  margin-right: 10px;
}
.meetingDetailsContainer {
  margin-top: 15px;
}

.memberListContainer {
}

.avatar-container {
  position: relative;
  display: inline-block;
  /* margin-right: 10px; */
  text-align: left;
}

.hover-letter {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.avatar-container:hover .hover-letter {
  opacity: 1;
}
